%h2= "Rankings"
%section.characters#rankings
  - characters.each_with_index do |character, idx|
    %article.character{ style: "background-image:url(#{character.portrait.url});" }
      %span.rank= idx + 1
      %header
        %h2= character.name
        %span.rating= character.rating

      %nav.actions
        - if policy(character).destroy?
          = link_to "remove", character, method: :delete, data: { confirm: "Are you sure?" }
        - if policy(character).update?
          = link_to "change", character