%section#choices.choices
  - choice.characters.each_with_index do |character, idx|
    - choice_key = idx.zero? ? :a : :b
    %article.choice{ :class => choice_key, id: choice_key }
      = link_to choices_path( choice.winner_params(choice_key) ), method: :post, remote: true do
        %figure{ style: "background-image: url(#{character.portrait});" }
          %figcaption= character.name

    - if idx.zero?
      %article#skip.choice.skip
        = link_to choices_path( choice.winner_params(nil) ), method: :post, remote: true do
          %figure
            %figcaption= "SKIP"
      %a{ href: "#content" }
        %svg#Layer_1{baseprofile: "tiny", space: "preserve", version: "1.2", viewbox: "0 0 400 200", x: "0px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px"}
          %g
            %path{ d: "M106.308,29.384c6.332,0,11.664,2.444,15.984,7.344c9.214,11.232,18.286,22.174,27.216,32.832l43.2,51.84\r\n\t\t\t\t\t\tc5.184-6.629,11.806-14.62,19.873-23.976c8.059-9.362,15.834-18.65,23.328-27.864c8.922-10.658,17.994-21.6,27.215-32.832\r\n\t\t\t\t\t\tc4.32-4.9,9.646-7.344,15.984-7.344c4.895,0,9.355,1.58,13.393,4.752c4.32,3.74,6.764,8.424,7.344,14.04\r\n\t\t\t\t\t\tc0.574,5.616-1.014,10.726-4.752,15.336l-86.4,103.68c-4.037,4.894-9.362,7.344-15.984,7.344c-6.628,0-11.954-2.45-15.984-7.344\r\n\t\t\t\t\t\tl-86.4-103.68c-3.747-4.61-5.333-9.72-4.752-15.336c0.574-5.616,3.024-10.3,7.344-14.04\r\n\t\t\t\t\t\tC96.945,30.964,101.407,29.384,106.308,29.384z" }