%section.character-admin
  = simple_form_for @character do |f|
    = f.input :name, label: "Character name"
    = f.input :slug, label: "Short url slug"
    = f.input :portrait, label: "Portrait URL", type: :file
    = f.submit :save

- if @character.portrait
  %style{:type => "text/css"}
    == body { background-image: url(#{@character.portrait.url})!important; }