- if @choice && policy(@choice).create?
  = render 'choice', choice: @choice

%section.introduction#content
  %article.description
    %hgroup
      %h1= "A herd-sourced leaderboard"

    %p
      Discord reigns in our community. Since the beginning of time,
      people have argued who is best pony. It has during the past
      years lead to delicious drama, driven by uneducated opinion,
      peer pressure and a lack of good taste.

    %p
      Friendships have been ruined and uncanny amounts of
      mom's spaghetti has been dropped in front of show staff like
      = raw "#{link_to('M.A. Larson', 'https://twitter.com/M_A_Larson')},"
      = raw "#{link_to('Meghan McCarthy', 'https://twitter.com/MMeghanMcCarthy')} and"
      = raw "#{link_to('Amy Keating Rogers', 'https://twitter.com/KeatingRogers')}"
      in attempts to recover a broader understanding of why a pony
      is in fact best pony.


    %p
      We have the long sought solution to this problem. By using
      = link_to "Elo's rating system", "http://en.wikipedia.org/wiki/Elo_rating_system"
      , we can accurately determine who is really best pony by
      gathering data from fedora wearers all over the world.

  - if current_user
    %aside.call-to-action= link_to icon_prefix(:bird, "Even the scores, tell your friends!"), "https://twitter.com/intent/tweet?text=Fair%20and%20accurate%20http%3A%2F%2Feqfigures.com%2F%20will%20once%20and%20for%20all%20determine%20who's%20best%20pony!"
  - else
    %aside.call-to-action= link_to icon_prefix(:bird, "Login with Twitter to participate"), new_session_path

- unless @characters.empty?
  = render 'characters', characters: @characters