- if @choices.many?
  - @choices.each_with_index do |character, idx|
    = link_to character.name
    - if idx.zero?
      = "or"

%hr
- if @characters.empty?
  %p= "no characters"
- else
  %article
    - @characters.each_with_index do |character, idx|
      %h2
        %strong= "##{idx}"
        = character.name
      = link_to "remove", character, method: :delete, data: { confirm: "Are you sure?" }

= link_to "introduce character", new_character_path