%section.introduction
  %article.description
    %hgroup
      %h1= "Best Pony"
      %h2= "A herd-sourced leaderboard"

    %p
      Since the dawn of time, people have argued "x is best pony".
      It has during the years lead to unnecessary drama, driven by
      uneducated opinions. Friendships has been ruined and copious
      amounts of spaghetti has been dropped in the process.

    %p
      We have the long sought solution to this problem. By using
      = link_to "Elo's rating system", "http://en.wikipedia.org/wiki/Elo_rating_system"
      , we can more accurately determine who is really best pony by gathering
      data from autists all over the world.

  - unless current_user
    %aside.call-to-action
      = link_to icon_prefix(:bird, "Login with Twitter to Participate"), new_session_path

- if @choice && policy(@choice).create?
  = render 'choice', choice: @choice

- unless @characters.empty?
  = render 'characters', characters: @characters
