- if @choice && policy(@choice).create?
  - @choice.characters.each_with_index do |character, idx|
    = link_to character.name, choices_path( @choice.winner_params( idx.zero? ? :a : :b ) ), method: :post
    - if idx.zero?
      = "or"

  %hr

- if @characters.empty?
  %p= "no characters"
- else
  %article
    - @characters.each_with_index do |character, idx|
      %h2
        %strong= "##{idx}"
        = character.name
        %i= "[#{character.rating}]"
      - if policy(character).destroy?
        = link_to "remove", character, method: :delete, data: { confirm: "Are you sure?" }
      - if policy(character).update?
        = link_to "change", character

- if policy(Character.new).create?
  = link_to "introduce character", new_character_path