= "Built by"
= link_to "@zeeraw", "http://twitter.com/zeeraw", rel: "author", title: "Zeeraw's twitter feed"
= "& designed by"
= link_to "@lablayers", "http://twitter.com/lablayers", rel: "author", title: "Lablayer's twitter feed"
= ", credit to "
= link_to "BonesWolbach for background", "http://boneswolbach.deviantart.com/art/Summer-Campfire-305409422"
