= "Built by"
= link_to "@zeeraw", "http://twitter.com/zeeraw", rel: "author", title: "Zeeraw's twitter feed"
= "& designed by"
= link_to "@lablayers", "http://twitter.com/lablayers", rel: "author", title: "Lablayer's twitter feed"
= ", credit to "
= link_to "Quasdar for background", "http://quasdar.deviantart.com/art/Equestria-at-Night-263381180"
= link_to icon_prefix(:home, "Back to top"), "#top"