/ %hgroup#top
/   %h1= "Best Pony"

%nav.menu{ :class => policy(Character.new).create? ? 'admin' : 'normal' }
  %span= link_to "EqFigures", root_path, rel: "", title: "Equestrian Figures"
  %span= link_to "About", "#content"
  %span= link_to "Rankings", "#rankings"
  - if policy(Character.new).create?
    %span= link_to "introduce character", new_character_path

%nav.session
  - if current_user
    %span
      = image_tag(current_user.picture)
      = "@#{current_user.handle}"
      = link_to "Logout", end_session_path, :class => 'button'
  - else
    %span= link_to icon_prefix(:bird, "Login with Twitter"), new_session_path