!!!
%html
  %head
    %title= "Pony Scoreboard"

    %meta{:name => "viewport",    :content => "width=device-width, initial-scale=1.0" }
    %meta{:name => "description", :content => "Sophisticated & accurate best pony ratings" }

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body{ :class => current_user ? 'user' : 'guest' }
    %header{ role: "header" }= render 'layouts/header'
    %main{ role: "main" }= yield
    %footer{ role: "footer" }= render 'layouts/footer'