!!!
%html
  %head
    %title= "Pony"

    %meta{:name => "viewport",    :content => "width=device-width, initial-scale=1.0" }
    %meta{:name => "description", :content => "Your accurate source of Best Pony on the web." }

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body
    %header{ role: "header" }
    %main{ role: "main" }= yield
    %footer{ role: "footer" }
