!!!
%html
  %head
    - page_url = "http://eqfigures.com#{request.path}"
    - page_title = "Equestrian Figures"
    - page_description = "Sophisticated & accurate pony statistics"
    - site_name = "EqFigures"

    %title= page_title

    %meta{:name => "viewport",    :content => "width=device-width, initial-scale=1.0" }
    %meta{:name => "description", :content => page_description }

    %meta{:property => "og:type", :content => "website" }

    %meta{:property => "og:url", :content => page_url }
    %meta{:property => "og:title", :content => page_title }
    %meta{:property => "og:description", :content => page_description }

    %meta{:property => "og:site_name", :content => site_name }

    %meta{:property => "og:locale", :content => "en_GB" }
    %meta{:property => "og:locale:alternate", :content => "en_US" }

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body{ :class => current_user ? 'user' : 'guest' }
    %header{ role: "header" }= render 'layouts/header'
    %main{ role: "main" }= yield
    %footer{ role: "footer" }= render 'layouts/footer'